/*
1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #E3E3E3; }

body {
  font-family: Montserrat, sans-serif;
  color: #F7F7F7; }

.text-center {
  text-align: center; }

.page--bg {
  background: linear-gradient(90deg, #bfbdb8 0%, #dcd0bc 100%); }

.mg-bottom {
  margin-bottom: 6rem; }

.pad-left {
  padding: 0;
  padding-left: 6rem; }

.mg-bottom-3rem {
  margin-bottom: 3rem; }

.hide.fa-heart,
.hide.search__form {
  display: none; }

.animated-search-form {
  animation: search-form 1s; }

.animated-search-input {
  animation: search-input 1s; }

@keyframes search-form {
  0% {
    top: 1.5rem;
    opacity: 0; }
  50% {
    opacity: 30%; }
  100% {
    opacity: 100%;
    top: 7rem; } }

@keyframes search-input {
  0% {
    width: 0; }
  70% {
    width: 0; }
  100% {
    width: 15.5rem; } }

.livingRoom .section1__slide .slick {
  height: 35rem;
  padding-left: 5rem;
  overflow: hidden;
  position: relative; }
  .livingRoom .section1__slide .slick__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: relative; }
  .livingRoom .section1__slide .slick__arrow {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    width: 3rem;
    height: 3rem; }
    .livingRoom .section1__slide .slick__arrow i {
      font-size: 1.5rem;
      padding: 1rem;
      color: #A8A6A3;
      margin-top: -.2rem;
      cursor: pointer; }

.livingRoom .section1__slide .arrow-prev,
.livingRoom .section1__slide .arrow-next {
  position: absolute;
  transform: translate(-50%);
  top: 50%; }

.livingRoom .section1__slide .arrow-prev {
  left: 15%; }

.livingRoom .section1__slide .arrow-next {
  right: 3%; }

.livingRoom .section1__slide ul {
  position: absolute;
  bottom: 0;
  left: 50%; }
  .livingRoom .section1__slide ul li {
    display: inline-block;
    margin-left: 1rem;
    border-radius: 50%;
    width: .8rem;
    height: .8rem;
    background-color: #A8A6A3;
    cursor: pointer; }
    .livingRoom .section1__slide ul li button {
      border: none;
      font-size: 0; }
      .livingRoom .section1__slide ul li button:focus {
        outline: none; }
  .livingRoom .section1__slide ul .slick-active {
    background-color: #F7F7F7; }

.livingRoom .section3 {
  position: relative; }
  .livingRoom .section3 .slick2 .slick-slide {
    margin: 2rem; }
    .livingRoom .section3 .slick2 .slick-slide:focus {
      outline: none; }
    .livingRoom .section3 .slick2 .slick-slide a img:hover {
      filter: blur(0); }
    .livingRoom .section3 .slick2 .slick-slide img {
      width: 100%;
      height: 13rem;
      object-fit: cover;
      object-position: center;
      margin-bottom: 1.5rem;
      box-shadow: 3px 3px 5px 0px rgba(115, 48, 102, 0.4);
      filter: blur(1.5px); }
      .livingRoom .section3 .slick2 .slick-slide img:focus {
        outline: none; }
    .livingRoom .section3 .slick2 .slick-slide p {
      font-size: 1rem;
      text-transform: uppercase;
      text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2); }
    .livingRoom .section3 .slick2 .slick-slide a {
      color: #F7F7F7;
      text-decoration: none; }
      .livingRoom .section3 .slick2 .slick-slide a:focus {
        outline: none; }
  .livingRoom .section3 .slick2 .slick-center img {
    transform: scale(1.2);
    transition: transform .8s ease;
    filter: blur(0); }
  .livingRoom .section3 .slick2 .slick-center p {
    transform: scale(1.2);
    padding-top: 1rem;
    transition: transform .8s ease; }
  .livingRoom .section3 .slick2__arrow {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    width: 3rem;
    height: 3rem; }
    .livingRoom .section3 .slick2__arrow i {
      font-size: 1.5rem;
      padding: 1rem;
      color: #A8A6A3;
      margin-top: -.2rem;
      cursor: pointer; }
  .livingRoom .section3 .arrow-prev2,
  .livingRoom .section3 .arrow-next2 {
    position: absolute;
    transform: translate(-50%);
    top: 44%; }
  .livingRoom .section3 .arrow-prev2 {
    left: 1rem; }
  .livingRoom .section3 .arrow-next2 {
    right: -1.7rem; }
  .livingRoom .section3 ul {
    position: absolute;
    bottom: -5%;
    left: 50%;
    transform: translate(-50%); }
    .livingRoom .section3 ul li {
      display: inline-block;
      margin-left: 1rem;
      border-radius: 50%;
      width: .8rem;
      height: .8rem;
      background-color: #A8A6A3;
      cursor: pointer; }
      .livingRoom .section3 ul li button {
        border: none;
        font-size: 0; }
        .livingRoom .section3 ul li button:focus {
          outline: none; }
    .livingRoom .section3 ul .slick-active {
      background-color: #F7F7F7; }

.sofaPreview__slider {
  margin-bottom: 3rem; }
  .sofaPreview__slider .slide-preview {
    box-shadow: 3px 3px 5px 0px rgba(115, 48, 102, 0.4);
    margin-bottom: 2rem;
    position: relative; }
    .sofaPreview__slider .slide-preview__img {
      width: 100%;
      height: 35rem;
      object-fit: cover;
      object-position: center; }
      .sofaPreview__slider .slide-preview__img:focus {
        outline: none; }
    .sofaPreview__slider .slide-preview ul {
      list-style-type: none;
      position: absolute;
      left: 20%;
      bottom: -12rem; }
      .sofaPreview__slider .slide-preview ul li {
        font-size: 0;
        width: 10rem;
        height: 7rem;
        display: inline-block;
        margin: 1rem;
        cursor: pointer; }
        .sofaPreview__slider .slide-preview ul li button {
          border-style: none; }
  .sofaPreview__slider .slide-dots {
    text-align: center; }
    .sofaPreview__slider .slide-dots__img {
      max-width: 10rem;
      height: 7rem;
      margin: 1rem;
      box-shadow: 3px 3px 5px 0px rgba(115, 48, 102, 0.4); }

.pagination {
  padding: 3rem 5rem; }
  .pagination__item {
    display: inline-block;
    margin-right: 1rem; }
  .pagination__link {
    color: #733066;
    font-size: 1.2rem; }
    .pagination__link:hover {
      color: #733066;
      text-decoration: none; }
  .pagination .link-active {
    font-weight: bold; }

.header {
  display: flex;
  justify-content: space-around;
  padding-top: 1rem; }
  .header__logo {
    width: 100%; }
    .header__logo--wrapper {
      width: 23rem;
      margin-top: .5rem; }
  .header__nav li {
    display: inline-block;
    padding: 2rem; }
    .header__nav li a {
      text-decoration: none;
      color: #F7F7F7;
      text-transform: uppercase;
      font-size: 1.2rem;
      transition: color .6s ease; }
      .header__nav li a:hover {
        color: #733066; }
  .header__icon {
    position: relative; }
    .header__icon i {
      font-size: 2rem;
      padding: 2rem 0 2rem 2rem;
      cursor: pointer; }
    .header__icon .liked-items {
      color: #733066; }
    .header__icon .search__form {
      position: absolute;
      left: 1.8rem;
      top: 7rem; }
    .header__icon .search__input {
      height: 2.5rem;
      width: 15.5rem;
      padding: .1rem 1.3rem .1rem 1rem;
      font-size: 1.3rem;
      color: #A8A6A3;
      border: 0.1rem solid #733066;
      background-color: #E3E3E3;
      border-radius: .2rem; }
      .header__icon .search__input:focus {
        outline: none; }
      .header__icon .search__input::placeholder {
        color: #A8A6A3; }
    .header__icon .search__btn {
      border: none;
      height: 1.8rem;
      position: absolute;
      right: .4rem;
      top: .3rem; }
      .header__icon .search__btn:focus {
        outline: none; }
      .header__icon .search__btn--icon {
        color: #733066;
        padding: 0; }
  .header__container {
    z-index: 3;
    position: absolute;
    left: 50%;
    transform: translate(-50%); }
  .header--bg {
    background-color: #A8A6A3;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100; }
  .header--shadow {
    box-shadow: 0px -5px 10px 5px rgba(0, 0, 0, 0.4); }
  .header .shopping-items {
    border-radius: 5rem;
    background-color: #733066;
    width: 1.1rem;
    height: 1.1rem;
    position: absolute;
    top: 2.7rem;
    right: 4rem;
    text-align: center;
    font-size: .8rem;
    display: none; }

.footer {
  background-color: #A8A6A3;
  padding: 5rem 0; }
  .footer__wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem; }
    .footer__wrapper--logo {
      width: 7rem; }
      .footer__wrapper--logo img {
        width: 100%; }
    .footer__wrapper--nav a {
      color: #F7F7F7;
      text-decoration: none;
      font-size: 1.1rem; }
      .footer__wrapper--nav a p {
        margin-bottom: .7rem; }
    .footer__wrapper--social ul a {
      color: #F7F7F7; }
      .footer__wrapper--social ul a:hover {
        text-decoration: none; }
      .footer__wrapper--social ul a li {
        list-style-type: none; }
        .footer__wrapper--social ul a li i {
          font-size: 1.5rem;
          margin-right: 1.2rem;
          width: 1.5rem; }
        .footer__wrapper--social ul a li p {
          display: inline-block;
          margin-bottom: .7rem;
          font-size: 1.1rem; }
    .footer__wrapper--email label {
      font-size: 1.1rem;
      display: block;
      margin-bottom: 1.5rem; }
    .footer__wrapper--email input {
      background-color: #A8A6A3;
      width: 18rem;
      height: 3rem;
      border: 1px solid #F7F7F7;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px; }
      .footer__wrapper--email input::placeholder {
        padding-left: 1rem;
        color: #F7F7F7; }
      .footer__wrapper--email input:focus {
        outline: none; }
    .footer__wrapper--email button {
      width: 4rem;
      height: 3rem;
      background-color: #F7F7F7;
      color: #A8A6A3;
      font-size: .9rem;
      border: 1px solid #F7F7F7;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      margin-left: -.4rem; }
      .footer__wrapper--email button:focus {
        outline: none; }
    .footer__wrapper--contact p {
      font-size: 1.1rem;
      margin-bottom: .7rem; }

.livingRoom {
  position: relative; }
  .livingRoom .section1 {
    text-align: center;
    padding: 8rem 0 10rem 0; }
    .livingRoom .section1__wrapper {
      padding: 8rem 0 8rem 1rem; }
    .livingRoom .section1__heading {
      text-transform: uppercase;
      font-size: 3rem;
      text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
      margin-bottom: 4rem; }
    .livingRoom .section1__text {
      font-family: Merienda, sans-serif;
      font-size: 1.5rem;
      text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2); }
    .livingRoom .section1__outline {
      width: 59rem;
      height: 33rem;
      border: 2px solid #733066;
      position: absolute;
      top: 4rem;
      left: 4.5rem; }
  .livingRoom .section2 {
    margin-bottom: 10rem; }
    .livingRoom .section2__row {
      margin-bottom: 4rem; }
    .livingRoom .section2__heading {
      text-transform: uppercase;
      text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
      margin-bottom: 2rem; }
    .livingRoom .section2__img {
      width: 100%;
      height: 20rem;
      object-fit: cover;
      object-position: center;
      margin-bottom: 1.5rem;
      box-shadow: 3px 3px 5px 0px rgba(115, 48, 102, 0.4); }
    .livingRoom .section2__text {
      font-size: 1.5rem;
      text-transform: uppercase;
      text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2); }
  .livingRoom .section3 {
    margin-bottom: 10rem;
    padding: 0 4rem; }
    .livingRoom .section3__heading {
      text-transform: uppercase;
      text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
      margin-bottom: 2rem; }
  .livingRoom .section4 {
    padding-bottom: 35rem;
    position: relative; }
    .livingRoom .section4__heading {
      text-transform: uppercase;
      text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
      margin-bottom: 1.5rem; }
    .livingRoom .section4__btn {
      width: 15rem;
      text-transform: uppercase;
      font-size: .8rem;
      color: #733066;
      background-color: rgba(115, 48, 102, 0.5);
      border: none;
      border-radius: 2px;
      padding: 1rem 0;
      margin-bottom: 3rem; }
      .livingRoom .section4__btn i {
        margin-left: 1rem; }
    .livingRoom .section4__outline {
      margin: 0 10rem;
      height: 20rem;
      border: 1px solid #F7F7F7;
      position: absolute;
      width: 91rem; }
    .livingRoom .section4__rel {
      position: relative; }
    .livingRoom .section4__img {
      width: 100%;
      height: 25rem;
      object-fit: cover;
      object-position: center;
      box-shadow: 3px 3px 5px 0px rgba(115, 48, 102, 0.4);
      position: absolute; }
    .livingRoom .section4 .img-1,
    .livingRoom .section4 .img-3 {
      top: -12rem;
      left: 0; }
    .livingRoom .section4 .img-2 {
      top: 5rem;
      left: 0; }

.main {
  height: 100vh;
  position: relative; }
  .main__background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1; }
  .main__shape {
    clip-path: polygon(0 75%, 100% 55%, 100% 100%, 0% 100%);
    background: #F09D0A;
    background: linear-gradient(180deg, #f09d0a 0%, rgba(240, 157, 10, 0) 100%);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2; }
  .main__shadow {
    position: absolute;
    right: 12%;
    top: 30%;
    width: 39rem;
    height: 32rem;
    transform: perspective(37rem) rotateY(26deg);
    border: 0.2rem solid #A8A6A3;
    z-index: 4; }
  .main__wrapper {
    position: absolute;
    right: 14%;
    top: 20%;
    width: 37rem;
    height: 40rem;
    clip-path: polygon(0 0, 100% 15%, 100% 84%, 0% 100%);
    z-index: 5; }
    .main__wrapper--image {
      width: 100%;
      height: 100%; }
  .main__entry {
    width: 30rem;
    position: absolute;
    top: 50%;
    left: 14%;
    z-index: 5;
    text-align: center; }
    .main__entry h1 {
      font-size: 3.5rem;
      letter-spacing: .7rem;
      text-align: left;
      margin-bottom: 2rem;
      line-height: 1;
      text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2); }
      .main__entry h1 span {
        font-family: Merienda, sans-serif; }
    .main__entry--btn {
      background-color: transparent;
      padding: .9rem 4rem;
      text-transform: uppercase;
      font-size: 1.1rem;
      color: #F7F7F7;
      border: 2px solid #F7F7F7;
      border-radius: 3px;
      box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.2);
      transition: all .6s ease; }
      .main__entry--btn:hover {
        border: 2px solid #733066;
        color: #733066; }
      .main__entry--btn:focus {
        outline: none; }

.sofa__heading {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.4rem;
  color: #733066;
  margin-bottom: 3.5rem; }

.sofa__popular {
  text-align: center; }
  .sofa__popular--img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    object-position: center;
    margin-bottom: 1.5rem;
    box-shadow: 3px 3px 5px 0px rgba(115, 48, 102, 0.4); }
    .sofa__popular--img-big {
      height: 25rem; }
  .sofa__popular--text {
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #733066; }

.categories__heading {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.4rem;
  color: #733066;
  margin-bottom: 3.5rem; }

.categories--prod {
  font-size: 1.2rem;
  color: #733066;
  font-weight: bold; }

.categories__list {
  list-style-type: none; }

.categories__link {
  color: #733066;
  font-size: 1.1rem; }
  .categories__link--active {
    font-weight: 600; }
    .categories__link--active::after {
      content: '|';
      margin-left: .5rem;
      color: #F7F7F7; }
  .categories__link:hover {
    text-decoration: none;
    color: #733066;
    font-weight: 600; }
    .categories__link:hover::after {
      content: '|';
      margin-left: .5rem;
      color: #F7F7F7; }

.categories__examples {
  border: 1px solid #733066;
  padding: 3rem 3rem 0 3rem; }
  .categories__examples--form {
    text-align: right;
    margin-bottom: 2rem; }
    .categories__examples--form label {
      font-size: 1.2rem;
      margin-right: 1rem;
      color: #733066; }
    .categories__examples--form select {
      border: 1px solid #733066;
      background-color: transparent;
      font-size: .8rem;
      padding: .1rem .3rem;
      color: #733066; }
      .categories__examples--form select:focus {
        outline: none; }
      .categories__examples--form select option {
        background-color: #733066; }
  .categories__examples .examples__preview {
    text-align: center; }
    .categories__examples .examples__preview a {
      color: #F7F7F7; }
      .categories__examples .examples__preview a:hover {
        text-decoration: none; }
    .categories__examples .examples__preview--img {
      width: 100%;
      height: 17rem;
      object-fit: cover;
      object-position: center;
      box-shadow: 3px 3px 5px 0px rgba(115, 48, 102, 0.4);
      margin-bottom: 1rem; }
    .categories__examples .examples__preview--span {
      position: absolute;
      bottom: 20%;
      right: 7%;
      background: rgba(115, 48, 102, 0.7);
      border-radius: 20px;
      padding: .1rem .7rem; }
    .categories__examples .examples__preview--text {
      text-align: center;
      color: #733066;
      font-size: 1.2rem;
      text-transform: uppercase; }
    .categories__examples .examples__preview--btn {
      width: 15rem;
      text-transform: uppercase;
      font-size: .8rem;
      color: #733066;
      background-color: #B9A8AA;
      border: none;
      border-radius: 2px;
      padding: 1rem 0;
      margin-bottom: 3rem; }
      .categories__examples .examples__preview--btn i {
        margin-left: 1rem; }

.ideas {
  position: relative;
  padding: 0 5rem; }
  .ideas__heading {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.4rem;
    color: #733066;
    margin-bottom: 6rem; }
  .ideas__outline {
    width: 60rem;
    height: 35rem;
    border: 1px solid #733066;
    position: absolute;
    top: 17%;
    right: 15%; }
  .ideas__img {
    width: 100%;
    height: 30rem;
    object-fit: cover;
    object-position: center;
    box-shadow: 3px 3px 5px 0px rgba(115, 48, 102, 0.4); }

.cit {
  padding: 8rem 5rem 5rem 5rem;
  text-align: center; }
  .cit p {
    font-family: Merienda, sans-serif;
    font-size: 1.5rem; }

.addaSofa .sofaPreview {
  padding: 6rem 10rem;
  margin-bottom: 6rem; }
  .addaSofa .sofaPreview__heading {
    margin-left: 16rem;
    text-transform: uppercase;
    font-size: 2.4rem;
    color: #733066;
    margin-bottom: 3.5rem; }
  .addaSofa .sofaPreview__description {
    text-align: center; }
    .addaSofa .sofaPreview__description--heading {
      color: #733066;
      margin-bottom: 3rem; }
    .addaSofa .sofaPreview__description p {
      color: #733066;
      font-size: 1.2rem; }
  .addaSofa .sofaPreview__options {
    margin-left: 3rem;
    border: 1px solid #733066;
    height: 35rem;
    padding: 2rem 1.5rem;
    text-align: center; }
  .addaSofa .sofaPreview__colors {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem; }
    .addaSofa .sofaPreview__colors--colorText {
      color: #733066;
      font-size: 1.2rem; }
    .addaSofa .sofaPreview__colors--colorPrev {
      display: flex; }
      .addaSofa .sofaPreview__colors--colorPrev span {
        width: 2rem;
        height: 2rem;
        border: 1px solid #733066;
        border-radius: 50px;
        margin-left: .5rem; }
        .addaSofa .sofaPreview__colors--colorPrev span:first-Child {
          background-color: #A8A6A3; }
        .addaSofa .sofaPreview__colors--colorPrev span:last-Child {
          background-color: #F09D0A; }
  .addaSofa .sofaPreview__dimensions {
    display: flex;
    margin-bottom: 2rem;
    margin-left: 2.5rem; }
    .addaSofa .sofaPreview__dimensions p {
      color: #733066;
      margin-bottom: .3rem; }
    .addaSofa .sofaPreview__dimensions--text {
      margin-right: 1rem; }
  .addaSofa .sofaPreview__buttons {
    display: flex;
    justify-content: center; }
    .addaSofa .sofaPreview__buttons--quantity, .addaSofa .sofaPreview__buttons--save {
      padding: .4rem;
      border: 1px solid #733066;
      font-size: 1.2rem;
      color: #733066;
      margin: 1rem;
      width: 7rem;
      text-align: center;
      margin-bottom: 3rem; }
      .addaSofa .sofaPreview__buttons--quantity span, .addaSofa .sofaPreview__buttons--save span {
        margin: .3rem; }
      .addaSofa .sofaPreview__buttons--quantity .plus,
      .addaSofa .sofaPreview__buttons--quantity .minus, .addaSofa .sofaPreview__buttons--save .plus,
      .addaSofa .sofaPreview__buttons--save .minus {
        cursor: pointer; }
    .addaSofa .sofaPreview__buttons--save {
      cursor: pointer; }
  .addaSofa .sofaPreview__cta {
    display: flex;
    justify-content: space-between; }
    .addaSofa .sofaPreview__cta button {
      border: none;
      border-radius: 2px;
      padding: .6rem;
      width: 10rem;
      color: #733066;
      background-color: rgba(115, 48, 102, 0.3);
      text-transform: uppercase;
      font-size: .8rem;
      margin-bottom: 3rem; }
      .addaSofa .sofaPreview__cta button:focus {
        outline: none; }
      .addaSofa .sofaPreview__cta button i {
        margin-left: 1rem;
        font-size: 1.2rem; }
  .addaSofa .sofaPreview__price {
    font-size: 1.3rem;
    background-color: rgba(115, 48, 102, 0.7);
    padding: .4rem 2rem;
    border-radius: 20px;
    display: inline-block;
    margin-bottom: 3rem; }
  .addaSofa .sofaPreview__shipping {
    color: #733066; }
    .addaSofa .sofaPreview__shipping i {
      font-size: 2.5rem;
      margin-right: 1rem; }

.addaSofa .similar {
  padding: 0 4rem;
  margin-bottom: 6rem; }
  .addaSofa .similar__flex {
    display: flex; }
  .addaSofa .similar__heading {
    text-transform: uppercase;
    font-size: 2.4rem;
    color: #733066;
    margin-bottom: 3.5rem;
    text-align: center; }
  .addaSofa .similar__wrapper {
    flex: 2;
    margin: 1rem;
    z-index: 10; }
    .addaSofa .similar__wrapper--big {
      flex: 3; }
    .addaSofa .similar__wrapper--relative {
      position: relative; }
      .addaSofa .similar__wrapper--relative span {
        background-color: rgba(115, 48, 102, 0.7);
        border-radius: 20px;
        padding: .2rem 1rem;
        position: absolute;
        bottom: .5rem;
        right: .5rem; }
  .addaSofa .similar__img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    box-shadow: 3px 3px 5px 0px rgba(115, 48, 102, 0.4); }

.addaSofa .testimonial {
  padding: 3rem 12rem 10rem 12rem;
  position: relative;
  text-align: center; }
  .addaSofa .testimonial__outline {
    width: 90rem;
    height: 42rem;
    border: 1px solid #733066;
    position: absolute;
    left: 50%;
    top: -25%;
    transform: translateX(-50%); }
  .addaSofa .testimonial__author {
    text-align: right;
    color: #733066; }
    .addaSofa .testimonial__author--name {
      font-size: 1.8rem;
      text-transform: uppercase;
      margin-bottom: .5rem; }
  .addaSofa .testimonial__comment {
    font-size: 1.1rem;
    color: #733066;
    padding-right: 10rem;
    text-align: left; }
  .addaSofa .testimonial__btn {
    width: 12rem;
    text-transform: uppercase;
    font-size: .8rem;
    background-color: rgba(115, 48, 102, 0.5);
    border: none;
    border-radius: 2px;
    padding: 1rem 0;
    margin-bottom: 3rem;
    color: #F7F7F7;
    margin-top: 6rem; }
