/*
1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #E3E3E3; }

body {
  font-family: 'Montserrat', sans-serif;
  color: #F7F7F7; }

.header {
  display: flex;
  justify-content: space-around;
  padding-top: 1rem; }
  .header__logo {
    width: 100%; }
    .header__logo--wrapper {
      width: 23rem;
      margin-top: .5rem; }
  .header__nav li {
    display: inline-block;
    padding: 2rem; }
    .header__nav li a {
      text-decoration: none;
      color: #F7F7F7;
      text-transform: uppercase;
      font-size: 1.2rem; }
  .header__icon i {
    font-size: 2rem;
    padding: 2rem 0 2rem 2rem; }
  .header__container {
    z-index: 3;
    position: absolute;
    left: 50%;
    transform: translate(-50%); }
  .header--bg {
    background-color: #A8A6A3;
    position: sticky;
    top: 0;
    width: 100%; }
  .header--shadow {
    box-shadow: 0px -5px 10px 5px rgba(0, 0, 0, 0.4); }

.footer {
  background-color: #A8A6A3;
  padding: 5rem 0; }
  .footer__wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem; }
    .footer__wrapper--logo {
      width: 7rem; }
      .footer__wrapper--logo img {
        width: 100%; }
    .footer__wrapper--nav a {
      color: #F7F7F7;
      text-decoration: none;
      font-size: 1.1rem; }
      .footer__wrapper--nav a p {
        margin-bottom: .7rem; }
    .footer__wrapper--social ul a {
      color: #F7F7F7; }
      .footer__wrapper--social ul a:hover {
        text-decoration: none; }
      .footer__wrapper--social ul a li {
        list-style-type: none; }
        .footer__wrapper--social ul a li i {
          font-size: 1.5rem;
          margin-right: 1.2rem;
          width: 1.5rem; }
        .footer__wrapper--social ul a li p {
          display: inline-block;
          margin-bottom: .7rem;
          font-size: 1.1rem; }
    .footer__wrapper--email label {
      font-size: 1.1rem;
      display: block;
      margin-bottom: 1.5rem; }
    .footer__wrapper--email input {
      background-color: #A8A6A3;
      width: 18rem;
      height: 3rem;
      border: 1px solid #F7F7F7;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px; }
      .footer__wrapper--email input::placeholder {
        padding-left: 1rem;
        color: #F7F7F7; }
      .footer__wrapper--email input:focus {
        outline: none; }
    .footer__wrapper--email button {
      width: 4rem;
      height: 3rem;
      background-color: #F7F7F7;
      color: #A8A6A3;
      font-size: .9rem;
      border: 1px solid #F7F7F7;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      margin-left: -.4rem; }
      .footer__wrapper--email button:focus {
        outline: none; }
    .footer__wrapper--contact p {
      font-size: 1.1rem;
      margin-bottom: .7rem; }

.main {
  height: 100vh;
  position: relative; }
  .main__background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1; }
  .main__shape {
    clip-path: polygon(0 75%, 100% 55%, 100% 100%, 0% 100%);
    background: #F09D0A;
    background: linear-gradient(180deg, #f09d0a 0%, rgba(240, 157, 10, 0) 100%);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2; }
  .main__shadow {
    position: absolute;
    right: 16%;
    top: 24%;
    width: 37rem;
    height: 40rem;
    clip-path: polygon(0 0, 100% 15%, 100% 84%, 0% 100%);
    border: 3px solid grey;
    z-index: 4; }
  .main__wrapper {
    position: absolute;
    right: 14%;
    top: 20%;
    width: 37rem;
    height: 40rem;
    clip-path: polygon(0 0, 100% 15%, 100% 84%, 0% 100%);
    z-index: 5; }
    .main__wrapper--image {
      width: 100%;
      height: 100%; }
  .main__entry {
    width: 30rem;
    position: absolute;
    top: 50%;
    left: 14%;
    z-index: 5;
    text-align: center; }
    .main__entry h1 {
      font-size: 3.5rem;
      letter-spacing: .7rem;
      text-align: left;
      margin-bottom: 2rem;
      line-height: 1;
      text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2); }
      .main__entry h1 span {
        font-family: Merienda, sans-serif; }
    .main__entry--btn {
      background-color: transparent;
      padding: .9rem 4rem;
      text-transform: uppercase;
      font-size: 1.1rem;
      color: #F7F7F7;
      border: 2px solid #F7F7F7;
      border-radius: 3px;
      box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.2); }
      .main__entry--btn:focus {
        outline: none; }

.home {
  position: relative; }
  .home h1 {
    margin-bottom: 50rem; }
