////// COLORS
$color-text: #F7F7F7;
$color-background: #E3E3E3;
$color-shape: #F09D0A;
$color-primary: #733066;
$color-grey: #A8A6A3;


// Down Shape colors : #FFA300 #F09D0A #A88039 #786D58


////// FONTS
$font-main: Montserrat, sans-serif;
$font-second: Merienda, sans-serif;


////// OTHER
$text-shadow: 2px 2px 3px rgba(0,0,0,0.2);
