@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/sliders";
@import "components/pagination";

@import "layout/header";
@import "layout/footer";

@import "pages/livingRoomPage";
@import "pages/homePage";
@import "pages/sofa";
@import "pages/addaSofa";
