.header {
  display: flex;
  justify-content: space-around;
  padding-top: 1rem;


  &__logo {
    width: 100%;

    &--wrapper {
      width: 23rem;
      margin-top: .5rem;
    }
  }

  &__nav {
    & li {
      display: inline-block;
      padding: 2rem;

      & a {
        text-decoration: none;
        color: $color-text;
        text-transform: uppercase;
        font-size: 1.2rem;
        transition: color .6s ease;

        &:hover {
          color: $color-primary;
        }
      }
    }
  }

  &__icon {
    position: relative;

    & i {
      font-size: 2rem;
      padding: 2rem 0 2rem 2rem;
      cursor: pointer;
    }

    .liked-items {
      color: $color-primary;
    }

    .search {
      &__form {
        position: absolute;
        left: 1.8rem;
        top: 7rem;
      }

      &__input {
        height: 2.5rem;
        width: 15.5rem;
        padding: .1rem 1.3rem .1rem 1rem;
        font-size: 1.3rem;
        color: $color-grey;
        border: .1rem solid $color-primary;
        background-color: $color-background;
        border-radius: .2rem;

        &:focus {
          outline: none;
        }

        &::placeholder {
          color: $color-grey;
        }
      }

      &__btn {
          border: none;
          height: 1.8rem;
          position: absolute;
          right: .4rem;
          top: .3rem;

          &:focus {
            outline: none;
          }

        &--icon {
          color: $color-primary;
          padding: 0;
        }
      }
    }

    .animated-search-form {
      animation: search-form 1s;
    }

    .animated-search-input {
      animation: search-input 1s;
    }
  }

  &__container {
    z-index: 3;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }

  &--bg {
    background-color: $color-grey;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  &--shadow {
    box-shadow: 0px -5px 10px 5px rgba(0,0,0,0.4);
  }

  .shopping-items {
    border-radius: 5rem;
    background-color: $color-primary;
    width: 1.1rem;
    height: 1.1rem;
    position: absolute;
    top: 2.7rem;
    right: 4rem;
    text-align: center;
    font-size: .8rem;
    display: none;
  }
}
