.home  {
  //////  Slider section 1   /////
  .section1__slide {

    .slick {
      height: 35rem;
      padding-left: 5rem;
      overflow: hidden;
      position: relative;

      &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        position: relative;
      }

      ////// ARROWS

      &__arrow {
        background-color: rgba(#fff, .5);
        border-radius: 50%;
        width: 3rem;
        height: 3rem;

        & i {
          font-size: 1.5rem;
          padding: 1rem;
          color: $color-grey;
          margin-top: -.2rem;
          cursor: pointer;
        }
      }
    }

    .arrow-prev,
    .arrow-next {
      position: absolute;
      transform: translate(-50%);
      top: 50%;
    }

    .arrow-prev {
      left: 15%;
    }
    .arrow-next {
      right: 3%;
    }


   ///DOTS

    & ul {
      position: absolute;
      bottom: 0;
      left: 50%;

      & li {
        display: inline-block;
        margin-left: 1rem;
        border-radius: 50%;
        width: .8rem;
        height: .8rem;
        background-color: $color-grey;
        cursor: pointer;

        & button {
          border: none;
          font-size: 0;

          &:focus {
            outline: none;
          }
        }
      }

      .slick-active {
        background-color: $color-text;
      }
    }
  }


/////  Slider section 3  /////
  .section3 {
    position: relative;

    .slick2 {

      .slick-slide {
        margin: 2rem;

        &:focus {
          outline: none;
        }

        & img {
          width: 100%;
          height: 13rem;
          object-fit: cover;
          object-position: center;
          margin-bottom: 1.5rem;
          box-shadow: 3px 3px 5px 0px rgba($color-primary, 0.4);
          filter: blur(1.5px);
        }

        & p {
          font-size: 1rem;
          text-transform: uppercase;
          text-shadow: $text-shadow;
        }
      }

      .slick-center {


        & img {
          transform: scale(1.2);
          transition: transform .8s ease;
          filter: blur(0);
        }

        & p {
          transform: scale(1.2);
          padding-top: 1rem;
          transition: transform .8s ease;
        }
      }


      ////// ARROWS

      &__arrow {
        background-color: rgba(#fff, .5);
        border-radius: 50%;
        width: 3rem;
        height: 3rem;

        & i {
          font-size: 1.5rem;
          padding: 1rem;
          color: $color-grey;
          margin-top: -.2rem;
          cursor: pointer;
        }
      }
    }

    .arrow-prev2,
    .arrow-next2 {
      position: absolute;
      transform: translate(-50%);
      top: 44%;
    }

    .arrow-prev2 {
      left: 1rem;
    }
    .arrow-next2 {
      right: -1.7rem;
    }


   /////DOTS

    & ul {
      position: absolute;
      bottom: -5%;
      left: 50%;
      transform: translate(-50%);

      & li {
        display: inline-block;
        margin-left: 1rem;
        border-radius: 50%;
        width: .8rem;
        height: .8rem;
        background-color: $color-grey;
        cursor: pointer;

        & button {
          border: none;
          font-size: 0;

          &:focus {
            outline: none;
          }
        }
      }

      .slick-active {
        background-color: $color-text;
      }
    }
  }
}
