.text-center {
  text-align: center;
}

.page--bg {
  background: linear-gradient(90deg, rgba(191,189,184,1) 0%, rgba(220,208,188,1) 100%);
}

.mg-bottom {
  margin-bottom: 6rem;
}

.pad-left {
  padding: 0;
  padding-left: 6rem;
}

.mg-bottom-3rem {
  margin-bottom: 3rem;
}
